input[type='radio'] {
  height: 18px;
  width: 18px;
}
 
.is-invalid .css-13cymwt-control {
  border-color: red !important;
}
.is-invalid .css-t3ipsp-control {
  border-color: red !important;
}
.is-invalid .css-13cymwt-control:focus {
  border-color: red !important;
}
.is-invalid .css-13cymwt-control:hover {
  border-color: red !important;
}

.css-13cymwt-control {
  border-color: #dee2e6 !important;
}
.css-t3ipsp-control {
  box-shadow: none !important;
  border-color: #2684ffab !important;
}
